*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width:100%;
    height:40px;
    background-color: rgb(49, 186, 231);
    padding: 10px;
    color: white;
    
}

.left{
    width:70%;
    float: left;
    height: 40px;
    padding-left:  180px;
    
}

.right{
    width:30%;
    float:left;
    height:40px;
    padding-left: 30px;

}

.header::after{
    clear: both;
    content:"";
    display: both;
}

.logo{
    width:100%;
    height:110px;
    background-color: white;
    padding: 10px;
    text-align: center;
}

.logo-left{
    width:33%;
    height:110px;
    float: left;
    text-align: right;
    padding: 20px;
}

.logo-middle1{
    width:2%;
    height:110px;
    float: left;
    text-align: right;
    padding: 30px;
}

.logo-middle2{
    width:20%;
    height:110px;
    float:left;
    text-align: left;
    padding: 30px;
}

.logo-middle3{
    width:2%;
    float:left;
    text-align: right;
    padding: 30px;
    height: 110px;
}

.logo-middle4{
    width:38%;
    float:left;
    text-align: left;
    padding: 30px;
    height: 110px;
}

.logo::after{
    clear: both;
    display: table;
    content:"";
}

.nav{
    background-color: rgba(4, 4, 105, 0.927);
    height: 50px;
    width:100%;
}

.nav-left{
    width:80%;
    float: left;
    color: white;
    text-align: center;
    padding: 5px;
    
}

.nav-right{
    width:10%;
    float: left;   
}

.nav-left li{
    display: inline;
    padding: 20px;
    
}

.nav-right p{
    background-color: orange;
    text-align: center;
    color: white;
    height: 35px;
    padding: 5px;
}

.nav::after{
    clear: both;
    content:"";
    display: both;
}

.photo{
    width:100%;
}

.photo::after{
    clear: both;
    content:"";
    display:table;
}

.content{
    width:100%;
    background-color: white;
    height:550px;
    text-align: center;
    padding: 90px;
}

.content h1{
    color:rgb(35, 120, 149)
}

.content-left{
    width:3%;
    padding: 30px;
    float: left;
    text-align: center;
}

.content-left1{
    width:27%;
    padding: 30px;
    float:left;
    text-align: left;
}

.content-left2{
    width:3%;
    padding: 30px;
    float: left;
    text-align: right;
}

.content-left3{
    width:27%;
    padding: 30px;
    float:left;
    text-align: left;
}

.content-left4{
    width:3%;
    padding: 30px;
    float: left;
    text-align: right;
}

.content-left5{
    width:27%;
    padding: 30px;
    float:left;
    text-align: left;
}


.learn{
    background-color: orange;
    width: 60px;
    border-radius: 1px;
    padding: 15px;
}

.content::after{
    clear: both;
    content:"";
    display: table;
}

.project{
    width:100%;
    text-align: center;
    padding-top: 60px;
    padding-left: 90px;
    height: 850px;
}

.project h1{
    padding: 20px;
}

t{
    width:100%;
    text-align: center;

}

.t1{
    width:30%;
    float: left;
    padding: 5px;
    
}

.t2{
    width:30%;
    float: left;
    padding: 5px;   
}

.t3{
    width:30%;
    float: left;
    padding: 5px;
}

.t4{
    width:30%;
    float: left;
    padding: 5px;
}

.t5{
    width:30%;
    float: left;
    padding: 5px;
}

.t6{
    width:30%;
    float: left;
    padding: 5px;
}

.t7{
    width:30%;
    float: left;
    padding: 5px;
}

.t8{
    width:30%;
    float: left;
    padding: 5px;
}

.t9{
    width:30%;
    float: left;
    padding: 5px;
}

.contact{
    width:100%;
    background-color: rgb(8, 23, 42);
    color: white;
    height: 400px;
    text-align: center;
    padding-top: 60px;
    padding-left: 80px;
    padding-right: 40px;
}

.contact-left{
    width:30%;
    float: left;
    text-align: left;
    padding-left: 90px;
    padding-right: 20px;

}

.contact-mid1{
    width:20%;
    float:left;
    text-align: left;
    padding: 20px;
}

.contact-mid2{
    width:20%;
    float:left;
    text-align: left;
    padding: 20px;
}

.contact-right{
    width:30%;
    float:left;
    text-align: left;
    padding: 20px;
}

.footer{
    height: 100px;
    background-color: rgba(0, 0, 139, 0.447);
    padding-top: 30px;
    padding-left: 170px;
    color: white; 
}
@media (max-width: 800px) {
    .left ,.right
    {
        width: 100%;
    }
    .logo-left ,.logo-middle1 ,.logo-middle2 ,.logo-middle3 ,.logo-middle4

    {
        width: 100%;
    }
        
}




